.perfume{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

/* Flexbox container to center the image vertically */
.container {
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Full viewport height for vertical centering */
}

.heading{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 20px;
}

.perfume-name{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 18px;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.description{
    font-size: 20px;
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price{
    color: green;
    font-weight: bold;
    font-size:30px;
}

.Only{
    font-size:15px;
    color:grey;
}

.Buynow{
    color:white;
    background-color: green;
    border:none;
    border-radius: 8px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    height:40px;
    width:100px;
    font-weight:bold;
    box-shadow: 2px 2px 8px rgb(49, 60, 48);
}

.Buynow:hover{
    opacity:0.8;
}

.Buynow:active{
    opacity:0.6;
}
